---
const { title, subTitle, link, dates, details } = Astro.props
---

<a href={link} target="_blank" rel="noopener noreferrer" class="block">
  <li
    class="bg-background-offset group rounded-xl border border-default p-5 shadow-lg"
  >
    <div class="flex flex-col items-start justify-between sm:flex-row">
      <div class="mb-4 sm:mb-0">
        <h2
          class="pt-1 text-2xl font-semibold transition-colors group-hover:text-primary"
        >
          {title}
        </h2>
        {
          subTitle && (
            <p class="pt-2 text-lg font-medium transition-colors group-hover:text-primary">
              {subTitle}
            </p>
          )
        }
      </div>
      {
        dates && (
          <p class="whitespace-nowrap text-sm text-offset sm:text-right">
            {dates}
          </p>
        )
      }
    </div>
    {details && <p class="mt-4 leading-relaxed text-offset">{details}</p>}
  </li></a
>
