---
import CardListItem from "./CardListItem.astro"

interface CardListItemType {
  title: string
  subTitle?: string
  link?: string
  dates?: string
  details?: string
}

const { title, subTitle, items } = Astro.props
---

<section class="bg-background py-14">
  <div class="container mx-auto max-w-4xl px-4">
    <h2 class="mb-3 text-center text-3xl font-semibold lg:text-4xl">
      {title}
    </h2>

    <p class="mb-12 text-center text-offset">{subTitle}</p>

    <ul class="space-y-8">
      {
        items.map((item: CardListItemType) => (
          <CardListItem
            title={item.title}
            subTitle={item.subTitle}
            link={item.link}
            dates={item.dates}
            details={item?.details}
          />
        ))
      }
    </ul>
  </div>
</section>
