---
import { Image } from "astro:assets"
import heroImage from "../../assets/rui_sereno.png"
import { basic } from "../../config/config.json"
---

<section class="px-4 py-5 sm:py-10 lg:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div class="relative flex justify-center">
        <Image
          loading="eager"
          class="w-full md:max-w-md lg:max-w-md"
          src={heroImage}
          alt={basic.name}
        />
      </div>
      <div>
        <p class="text-lg text-offset">
          {basic.job}
        </p>

        <h1 class="mt-3 text-2xl font-bold sm:text-4xl lg:text-5xl">
          {basic.name}
        </h1>

        <p class="mt-5 text-base sm:text-xl">
          {basic.summary}
        </p>
      </div>
    </div>
  </div>
</section>
